@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Life+Savers');

* {
	transition: all 0.5s;
}

body {
	background-image: url('img/spring.png');
	font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Life Savers', cursive;
}

#display-title {
	text-shadow: 2px 2px 10px #ccc;
}

.jumbotron {
	border: solid 1px #ccc;
}

@media only screen and (max-width: 780px) {
	.login-btn-wrapper, .login-message-wrapper {
		margin-top: 3rem;
		width: 100%;
		text-align: center;
	}
}

@media only screen and (min-width:780px) {
	.login-btn-wrapper, .login-message-wrapper {
		position: absolute;
		top: 1rem;
	}

	.login-btn-wrapper {
		left: 1rem;
	}

	.login-message-wrapper {
		right: 1rem;
	}
}

.display-5 {
	font-size: 2.5rem;
}

.badge {
	border: none;
}

button.badge {
	cursor: pointer;
}

/* .btn-primary {
	background-color: #009944;
	border: #ccc;
}

.btn-primary:hover {
	background-color: #33bb44;
} */
